@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(1, 8, 14);
    color:rgb(70, 252, 15);
    padding-bottom: 50px;
    margin: 50px;
}

h1{
    padding-bottom: 50px;
}

.button{
    padding: 20px;
}

button {
    height: 40px;
    width: 60px;
    border-radius: 10%;
    color: #fff;
    background-color: #4CAF50;
    font-size: 20px;
    font-weight: bold;
}

button:hover {background-color: #3e8e41}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


#counter {
    display:grid;
    place-items: center;
    background-color: rgb(121, 131, 131);
    padding: 20px;
    padding-top: 20px;
    border-radius: 10px;
    color:white;
    font-weight: bold;
    font-size: 25px;
  

}

#currentNumber {
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-size: 50pt;
    color:rgb(232, 241, 241);
    font-weight: bold;
    padding-bottom: 20px;
}